<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/IMG_1634.jpg" />
		</div>
		<div class="carousel-caption">
			<h3>Maanasi Vadlamani</h3>
			<p>Full Stack Engineer</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/IMG_1633.jpg" />
		</div>
		<div class="carousel-caption">
			<h3>Emily Kelsey</h3>
			<p>Full Stack Engineer and Project Manager</p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/IMG_1635.jpg" />
		</div>
		<div class="carousel-caption">
			<h3>Chris Henesy</h3>
			<p>Front-end Engineer</p>
		</div>
	</ng-template>
</ngb-carousel>

