<div class="vstack gap-5">
    <div>
        <app-main-navbar></app-main-navbar>
    </div>
    <div class="row row-cols-2 row-cols-md-6">
        <ul class="nav flex-column" style="paddingTop: 2%; paddingLeft: 2vh; height: 100vh; color: white;background-color: #1976d2;">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
        <!-- THIS IS WHERE COURSE CONTENT WILL GO -->
        <!-- <div style="paddingTop: 2%;">
            poop

        </div> -->
    </div>
</div>  