<div>
    <app-main-navbar></app-main-navbar>
</div>
<div class="vstack gap-5">
        <div class="row">
          <div class="col-sm-2">
            <app-module3sidenav></app-module3sidenav>
          </div>
        
        <!-- THIS IS WHERE COURSE CONTENT WILL GO -->
        <div class="col-sm-10">
        <div style="paddingTop: 8vh; paddingLeft: 5%;"> 
            <h2 style="font-size: 3vh;  margin-bottom: 2%;">
                Freaky Fonts
            </h2>
            <p style="font-size: 2vh; paddingLeft: 3%; margin-right: 20%">
                Fonts are another important aspect of CSS and it has a variety of properties that you can modify. Choosing the right font can have a huge impact on how readers experience and view a website. If you have a super silly looking font, it would likely make it harder for a user to take your website seriously. This could be a huge issue depending on the purpose and tone you would like to set with your application.
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                Additionally, you want to ensure that you select a font style that is easy to read, as a difficult to read website is objectively less effective. To give you a quick glance at some of the properties that you can modify with the font, look at the image below:
            </p>
            <img src="assets/Fonts1.png" alt="Diagram of Fonts 1" style="paddingLeft: 3%; height: 35vh;"> 
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                To quickly summarize what each of these properties does, we will take a quick glance at some examples from each property. We’ll let this diagram do that talking for font families.
            </p>
            <img src="assets/Fonts2.png" alt="Diagram of Fonts 2" style="paddingLeft: 3%; width: 55vw;">
            <img src="assets/Fonts3.png" alt="Diagram of Fonts 3" style="paddingLeft: 3%; width: 55vw;">
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                The font style is broken down into 3 categories: normal, italic, and oblique (which is similar to italics but not quite the same). Font weight has two categories: normal and bold. Font size has two types of sizing that you can use: absolute size and relative size. Absolute size sets the values to be unchanging for any reason. Typically, this is not usually desirable, and is measured in pixels. Relative size is a much better tool, and allows a user to set the size relative to one of a few different measurements like the size of your window or screen. This is much better in terms of accessibility and allows for your web page to fit on screens of multiple sizes, including something like your phone! 
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                Another neat thing you can do with CSS to modify text is set the alignment to something like the left, center, or right, and change the line spacing to make body content more readable.
            </p>
            <a>
                <iframe width="90%" height="700px" src="https://liveweave.com/LYUqO7"></iframe><script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>
            </a>
            <button (click)="updatePage(1,1, '/m3/module-3.3')"  class="btn btn-primary" style="marginLeft: 2%; ">Move to Next Lesson!</button>
            <div style="paddingBottom: 5%"> </div>
        </div>
    </div>
    </div>
