<div>
    <app-main-navbar></app-main-navbar>
</div>
<div class="vstack gap-5">
        <div class="row">
          <div class="col-sm-2">
   
        <app-module2sidenav></app-module2sidenav>
    </div>
        
        <!-- THIS IS WHERE COURSE CONTENT WILL GO -->
        <div class="col-sm-10">
        <div style="paddingTop: 8vh; paddingLeft: 5%;"> 
            <h2 style="font-size: 4vh;  margin-bottom: 2%; ">
                Module 2 Practical Assignment
            </h2>
            <h4 style="font-size: 2vh;  margin-bottom: 2%; ">
                <div style="margin-bottom: 1%;">
                For this assignment, we will be playing around with divs! There are three tasks that you should attempt to accomplish. 
                </div>
                <div style="margin-bottom: 1%;">
                    <div style="font-size: 3vh">
                        Instructions
                    </div>
                    Complete each of the following tasks in the upper left window as this is where all HTML changes will go. Your changes will be reflected in the bottom right window.
                </div>
                <br/>
                <div style="margin-left: 2%;">
                <li>
                    Add a button to the page 
                </li>
                <li>
                    Try adding a button that when clicked, triggers the myFunction() function
                </li>
                <li>
                    Create a div tag that combines both of the CSS classes created
                </li>
            </div>
            </h4>
            <a>
                <iframe width="90%" height="700px" src="https://liveweave.com/mNv0aG"></iframe><script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>
            </a>
            <button class="btn btn-primary" (click)="updatePage(1,1, '/landing-page')"  style="marginLeft: 2%; ">Move to Next Lesson!</button>
        </div>
    </div>
    </div>
