<div>
    <app-main-navbar></app-main-navbar>
</div>
<div class="vstack gap-5">
        <div class="row">
          <div class="col-sm-2">
            <app-module4sidenav></app-module4sidenav>
          </div>
        
        <!-- THIS IS WHERE COURSE CONTENT WILL GO -->
        <div class="col-sm-10">
        <div style="paddingTop: 8vh; paddingLeft: 5%;"> 
            <h2 style="font-size: 3vh;  margin-bottom: 2%;">
                Why Use Git?
            </h2>
            <p style="font-size: 2vh; paddingLeft: 3%; margin-right: 20%">
                Git is a powerful tool that enables users to share code bases with other people. Think of other collaborative services you have used for projects in the past. Google docs for writing or Figma for making online whiteboards are similar services. But GitHub expands this service to code!
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                GitHub allows for users to create an account and upload files, specifically for coding projects. In essence, GitHub can act as an online file storing service. But the power of GitHub comes from collaboration. With multiple developers working on one page, it is important to keep team members up to date on what version of the code they use and what changes have been made in the past. By pooling together all of the resources into one place, this improves accessibility for all team members. 
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                Additionally, when a change is pushed to a code base, these changes are highlighted and the differences between your local version and the remote version that was pushed to are highlighted. This allows all users to clearly see the changes made and decide whether they should be kept or not.
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                We will explore how to use basic Git commands and what they do to make your life as a programmer more streamlined and collaboration friendly. Click to the next page to start!
            </p>
            <button (click)="updatePage(1,1, '/m4/module-4.2')"  style="marginLeft: 2%; ">Move to Next Lesson!</button>
            <div style="paddingBottom: 5%"> </div>
        </div>
    </div>
    </div>
