<ul class="nav flex-column" style="paddingTop: 8vh; paddingLeft: 5vh; position: fixed; height: 100vh; color: white;background-color: #1976d2;">
            
    <!-- <div *ngIf="firstPage == 1; else elseBlock"> -->
    <div *ngIf="firstPage == 1; else elseBlock">
        <li class="nav-item">
            <a class="btn btn-primary" href="m4/module-4.1" >Why Use Git?</a>
        </li>
    </div>
    <ng-template #elseBlock>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m4/module-4.1" >Why Use Git?</a>
        </li>
    </ng-template>
    <div *ngIf="secondPage == 1; else elseBlock2">
        <li class="nav-item">
            <a class="btn btn-primary" href="m4/module-4.2" >Clone and Add</a>
        </li>
    </div>
    <ng-template #elseBlock2>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m4/module-4.2" >Clone and Add</a>
        </li>
    </ng-template>
    <div *ngIf="thirdPage == 1; else elseBlock5">
        <li class="nav-item">
            <a class="btn btn-primary" href="m4/module-4.3" >Commit and Push</a>
        </li>
    </div>
    <ng-template #elseBlock3>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m4/module-4.3" >Commit and Push</a>
        </li>
    </ng-template>
    <div *ngIf="fourthPage == 1; else elseBlock4">
        <li class="nav-item">
            <a class="btn btn-primary" href="m4/module-4.4" >Branches</a>
        </li>
    </div>
    <ng-template #elseBlock4>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m4/module-4.4" >Branches</a>
        </li>
    </ng-template>
    <div *ngIf="fifthPage == 1; else elseBlock5">
        <li class="nav-item">
            <a class="btn btn-primary" href="m4/module-4.5" >Merging</a>
        </li>
    </div>
    <ng-template #elseBlock5>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m4/module-4.5" >Merging</a>
        </li>
    </ng-template>
    <div *ngIf="sixthPage == 1; else elseBlock6">
        <li class="nav-item">
            <a class="btn btn-primary" href="m4/module-4.conceptual" >Conceptual Check</a>
        </li>
    </div>
    <ng-template #elseBlock6>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m4/module-4.conceptual" >Conceptual Check</a>
        </li>
    </ng-template>
    <div *ngIf="seventhPage == 1; else elseBlock7">
        <li class="nav-item">
            <a class="btn btn-primary" href="m4/module-4.practical" >Practical Assignment</a>
        </li>
    </div>
    <ng-template #elseBlock7>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m4/module-4.practical" >Practical Assignment</a>
        </li>
    </ng-template>
</ul>