<ul class="nav flex-column" style="paddingTop: 8vh; paddingLeft: 5vh; position: fixed; height: 100vh; color: white;background-color: #1976d2;">
            
    <!-- <div *ngIf="firstPage == 1; else elseBlock"> -->
    <div *ngIf="firstPage == 1; else elseBlock">
        <li class="nav-item">
            <a class="nav-link backgroundColorLink" href="m2/module-3.1" >Buttons Galore!</a>
        </li>
    </div>
    <ng-template #elseBlock>
        <li class="nav-item">
            <a class="nav-link backgroundColorDisabled disabled" href="" >Buttons Galore!</a>
        </li>
    </ng-template>
    <div *ngIf="secondPage == 1; else elseBlock2">
        <li class="nav-item">
            <a class="nav-link backgroundColorLink" href="m2/module-3.2" >Libraries</a>
        </li>
    </div>
    <ng-template #elseBlock2>
        <li class="nav-item">
            <a class="nav-link backgroundColorDisabled disabled" href="" >Libraries</a>
        </li>
    </ng-template>
    <div *ngIf="thirdPage == 1; else elseBlock7">
        <li class="nav-item">
            <a class="nav-link backgroundColorLink" href="m2/module-3.3" >Libraries</a>
        </li>
    </div>
    <ng-template #elseBlock7>
        <li class="nav-item">
            <a class="nav-link backgroundColorDisabled disabled" href="" >Libraries</a>
        </li>
    </ng-template>
    <div *ngIf="fourthPage == 1; else elseBlock3">
        <li class="nav-item">
            <a class="nav-link backgroundColorLink" href="m2/module-3.conceptual" >Conceptual Check</a>
        </li>
    </div>
    <ng-template #elseBlock3>
        <li class="nav-item">
            <a class="nav-link backgroundColorDisabled disabled" href="" >Conceptual Check</a>
        </li>
    </ng-template>
    <div *ngIf="fifthPage == 1; else elseBlock4">
        <li class="nav-item">
            <a class="nav-link backgroundColorLink" href="m2/module-3.practical" >Practical Assignment</a>
        </li>
    </div>
    <ng-template #elseBlock4>
        <li class="nav-item">
            <a class="nav-link backgroundColorDisabled disabled" href="" >Practical Assignment</a>
        </li>
    </ng-template>
</ul>