<div>
    <app-main-navbar></app-main-navbar>
</div>
<div class="vstack gap-5">
        <div class="row">
          <div class="col-sm-2">
   
        <ul class="nav flex-column" style="paddingTop: 8vh; position: fixed; paddingLeft: 5vh; height: 100vh; color: white;background-color: #1976d2;">
            
            <div *ngIf="firstPage == 1; else elseBlock">
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink" href="module-1.1" >All about tags!</a>
                </li>
            </div>
            <ng-template #elseBlock>
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink disabled" href="" >All about tags!</a>
                </li>
            </ng-template>
            <div *ngIf="secondPage == 1; else elseBlock2">
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink" href="module-1.2" >What's all this spacing?</a>
                </li>
            </div>
            <ng-template #elseBlock2>
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink disabled" href="" >What's all this spacing?</a>
                </li>
            </ng-template>
            <div *ngIf="thirdPage == 1; else elseBlock3">
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink" href="module-1.3" >On the topic of headers</a>
                </li>
            </div>
            <ng-template #elseBlock3>
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink disabled" href="" >On the topic of headers</a>
                </li>
            </ng-template>
            <div *ngIf="fourthPage == 1; else elseBlock4">
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink" href="module-1.4" >The 'div' tag</a>
                </li>
            </div>
            <ng-template #elseBlock4>
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink disabled" href="" >The 'div' tag</a>
                </li>
            </ng-template>
            <div *ngIf="fifthPage == 1; else elseBlock5">
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink" href="module-1.5" >Extra HTML functions</a>
                </li>
            </div>
            <ng-template #elseBlock5>
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink disabled" href="" >Extra HTML functions</a>
                </li>
            </ng-template>
            <div *ngIf="sixthPage == 1; else elseBlock6">
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink" href="module-1.6" >Conceptual Check</a>
                </li>
            </div>
            <ng-template #elseBlock6>
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink disabled" href="" >Conceptual Check</a>
                </li>
            </ng-template>
            <div *ngIf="seventhPage == 1; else elseBlock7">
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink" href="module-1.7" >Practical Assignment</a>
                </li>
            </div>
            <ng-template #elseBlock7>
                <li class="nav-item">
                    <a class="nav-link backgroundColorLink disabled" href="" >Practical Assignment</a>
                </li>
            </ng-template>
        </ul>
    </div>
        
        <!-- THIS IS WHERE COURSE CONTENT WILL GO -->
        <div class="col-sm-10">
        <div style="paddingTop: 8vh; paddingLeft: 5%;"> 
            <h2 style="font-size: 4vh;  margin-bottom: 2%; ">
                Module 1 Practical Assignment
            </h2>
            <h4 style="font-size: 2vh;  margin-bottom: 2%; ">
                <div style="margin-bottom: 1%;">
                For this assignment, we will be playing around with divs! There are three tasks that you should attempt to accomplish. 
                </div>
                <div style="margin-bottom: 1%;">
                    <div style="font-size: 3vh">
                        Instructions
                    </div>
                    Complete each of the following tasks in the upper left window as this is where all HTML changes will go. Your changes will be reflected in the bottom right window.
                </div>
                <br/>
                <div style="margin-left: 2%;">
                <li>
                    Experiment with the sizes of the header divs that we talked about previously 
                </li>
                <li>
                    Try making your own div with a custom class name of "module1Assignment"
                </li>
                <li>
                    Implement a break tag and see what happens to your code.
                </li>
            </div>
            </h4>
            <a>
                <iframe width="90%" height="700px" src="https://liveweave.com/ZkODeZ"></iframe><script src="https://www.jdoodle.com/assets/jdoodle-pym.min.js" type="text/javascript"></script>
            </a>
            <button (click)="updatePage(1,1, '/module-1.2')"  style="marginLeft: 2%; ">Move to Next Lesson!</button>
        </div>
    </div>
    </div>
