.backgroundColorLink{
    color: white;
    font-size: 2vh;
    padding-bottom: 4vh;
}

.backgroundColorLink:hover{
    color: grey
}

.backgroundColorDisabled{
    color: rgb(169, 169, 169);
    font-size: 2vh;
    padding-bottom: 4vh;
}