<ul class="nav flex-column">
    <div *ngIf="firstPage == 1; else elseBlock">
        <li class="nav-item">
            <a class="btn btn-primary" href="m1/module-1.1" >All About Tags!</a>
        </li>
    </div>
    <ng-template #elseBlock>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m1/module-1.1" >All About Tags!</a>
        </li>
    </ng-template>
    <div *ngIf="secondPage == 1; else elseBlock2">
        <li class="nav-item">
            <a class="btn btn-primary" href="m1/module-1.2" >What's all this Spacing?</a>
        </li>
    </div>
    <ng-template #elseBlock2>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m1/module-1.2" >What's all this Spacing?</a>
        </li>
    </ng-template>
    <div *ngIf="thirdPage == 1; else elseBlock3">
        <li class="nav-item">
            <a class="btn btn-primary" href="m1/module-1.3" >On the Topic of Headers</a>
        </li>
    </div>
    <ng-template #elseBlock3>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m1/module-1.3" >On the Topic of Headers</a>
        </li>
    </ng-template>
    <div *ngIf="fourthPage == 1; else elseBlock4">
        <li class="nav-item">
            <a class="btn btn-primary" href="m1/module-1.4" >The &lt;div&gt; Tag</a>
        </li>
    </div>
    <ng-template #elseBlock4>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m1/module-1.4" >The &lt;div&gt; Tag</a>
        </li>
    </ng-template>
    <div *ngIf="fifthPage == 1; else elseBlock5">
        <li class="nav-item">
            <a class="btn btn-primary" href="m1/module-1.5" >Extra HTML Functions</a>
        </li>
    </div>
    <ng-template #elseBlock5>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m1/module-1.5" >Extra HTML Functions</a>
        </li>
    </ng-template>
    <div *ngIf="sixthPage == 1; else elseBlock6">
        <li class="nav-item">
            <a class="btn btn-primary" href="m1/module-1.conceptual" >Conceptual Check</a>
        </li>
    </div>
    <ng-template #elseBlock6>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m1/module-1.conceptual" >Conceptual Check</a>
        </li>
    </ng-template>
    <div *ngIf="seventhPage == 1; else elseBlock7">
        <li class="nav-item">
            <a class="btn btn-primary" href="m1/module-1.practical" >Practical Assignment</a>
        </li>
    </div>
    <ng-template #elseBlock7>
        <li class="nav-item">
            <a class="btn btn-primary disabled" href="m1/module-1.practical" >Practical Assignment</a>
        </li>
    </ng-template>
</ul>