<div>
    <app-main-navbar></app-main-navbar>
</div>
<div class="vstack gap-5">
        <div class="row">
          <div class="col-sm-2">
            <app-module5sidenav></app-module5sidenav>
          </div>
        
        <!-- THIS IS WHERE COURSE CONTENT WILL GO -->
        <div class="col-sm-10">
        <div style="paddingTop: 8vh; paddingLeft: 5%;"> 
            <h2 style="font-size: 3vh;  margin-bottom: 2%;">
                SPA Day
            </h2>
            <p style="font-size: 2vh; paddingLeft: 3%; margin-right: 20%">
                Another important topic to cover is single page applications (SPAs), which many frameworks like Angular and React can create. The way that a SPA works is by having all of your application’s functions exist within a single page and then conditionally rendering the things that matter to the user rather than loading an entirely new page.
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                This has the potential to massively improve the user’s experience. Rewinding a little bit though, the ‘conditionally rendering’ part of a SPA means that the things loaded on the screen only happen when they’re needed. The reason everything is allowed to work despite all being on a singular page is that the application will use different routes throughout the program to find and render the things that are needed based upon what you tell it to render at that route.
            </p>
            <button (click)="updatePage(1,1, '/m5/module-5.conceptual')"  style="marginLeft: 2%; ">Move to Next Lesson!</button>
            <div style="paddingBottom: 5%"> </div>
        </div>
    </div>
    </div>
