<div>
    <app-main-navbar></app-main-navbar>
</div>
<div class="vstack gap-5">
        <div class="row">
          <div class="col-sm-2">
   
        <app-module4sidenav></app-module4sidenav>
    </div>
        
        <!-- THIS IS WHERE COURSE CONTENT WILL GO -->
        <div class="col-sm-10">
        <div style="paddingTop: 8vh; paddingLeft: 5%;"> 
            <h2 style="font-size: 4vh;  margin-bottom: 2%; ">
                Module 4 Practical Assignment
            </h2>
            <h4 style="font-size: 2vh;  margin-bottom: 2%; ">
                <div style="margin-bottom: 1%;">
                For this assignment, you will be creating a GitHub account and setting up a repository! Feel free to go back and reference the previous pages. 
                </div>
                <div style="margin-bottom: 1%;">
                    <div style="font-size: 3vh">
                        Instructions
                    </div>
                </div>
                <br/>
                <div style="margin-left: 2%;">
                <li>
                    Create your own GitHub account
                </li>
                <li>
                    Create and set up a repository
                </li>
                <li>
                    Create two branches with one called 'Main' and one with your name. For Example, if my name was Chris the branch would be called 'Chris'           
                </li>
                </div>

                <br>
                <form [formGroup]="registerForm" (ngSubmit)="addGitHubAccount()">
                    <div class="form-group">
                      <label for="firstName" style="padding-bottom: 10px">Insert the URL to your GitHub Account Here!</label>
                      <input type="text" formControlName="github" class="form-control" style="width: 200px;" [ngClass]="{ 'is-invalid': submitted && f['github'].errors }" />
                      <div *ngIf="submitted && f['github'].errors" class="invalid-feedback">
                          <div *ngIf="f['github'].errors['required']">GitHub Link is required</div>
                      </div>
                  </div>
                  <br />
                  <button type="submit" class="btn btn-primary">Add GitHub Link</button>
                  <div class="alert alert-success" style="width:250px" *ngIf="submitted && !githubAdded">
                    GitHub account linked!<br />
                  </div>
                </form>
            </h4>
            <br />
            <br />
            <br />
            <button (click)="updatePage(1,1, '/landing-page')" class="btn btn-primary">Move to Next Lesson!</button>
            <button class="btn btn-primary" (click)="updatePage(5,1, '/m5/module-5.1')"  style="marginLeft: 2%; ">Continue on to Module 5!</button>
        </div>
    </div>
    </div>
