<div>
    <app-main-navbar></app-main-navbar>
</div>
<div class="vstack gap-5">
        <div class="row">
          <div class="col-sm-2">
            <app-module2sidenav></app-module2sidenav>
          </div>
        
        <!-- THIS IS WHERE COURSE CONTENT WILL GO -->
        <div class="col-sm-10">
        <div style="paddingTop: 8vh; paddingLeft: 5%;"> 
            <h2 style="font-size: 3vh;  margin-bottom: 2%;">
                Libraries
            </h2>
            <p style="font-size: 2vh; paddingLeft: 3%; margin-right: 20%">
                Libraries are another important tool that can help to save you countless hours of headache because now you get to use code that someone else made that they know works. There are libraries for almost everything that you could think of, and this can be super helpful for a variety of reasons, however there is one main reason that stands out above all the rest: not having to reinvent the wheel. 
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                Take a second to imagine if every car company had to take the time to recreate how a wheel works every single time they wanted to make a new car. They would probably be significantly worse at creating a wide variety of new cars every year, which is exactly why they wouldn’t do that. Instead, they get to keep that knowledge of how to make the wheel, and even the actual wheels, to be able to use in other projects. Libraries let you do the same thing. 
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                You may be in a situation where you are working on something very common that someone else surely has created before, but it takes you 10 hours to create it. You then want to start another project, and you have to spend another 10 hours recreating the same thing. That would not be very efficient, nor would you have a good time doing it if you’re like most people. Using a library would let you skip both of these steps by just letting you use a version that someone has created and included in the library. 
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                And they usually don’t just include one thing, the reason they’re called libraries is because not only do they include all the files necessary to make one thing work, but they include everything to make a whole bunch of things work. For example, look at the <a href="https://getbootstrap.com/2.3.2/components.html">bootstrap library</a> and see how much is included in just this one thing.
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                In the creation of this course, multiple libraries were used to be able to quickly and efficiently create and use components that make our application feel much more professional. These libraries include things such as bootstrap, but also materialUI, and Liveweave. We encourage you to do your own research on libraries to see how useful they can be.
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                We aren’t going to go too much more in depth about libraries, since that’s what the about page of a library is for, but we wanted to talk about this because we found it to be an important topic that everyone learns about given how powerful they can be. In your future projects, consider investigating a library to help yourself save time and energy by taking advantage of the resources out there on the internet.
            </p>
            <button (click)="updatePage(1,1, '/m2/module-2.conceptual')"  style="marginLeft: 2%; ">Move to Next Lesson!</button>
            <div style="paddingBottom: 5%"> </div>
        </div>
    </div>
    </div>
