<div>
    <app-main-navbar></app-main-navbar>
</div>
<div class="vstack gap-5">
    <div class="row">
      <div class="col-sm-2">
        <app-module1sidenav></app-module1sidenav>
    </div>
        
        <!-- THIS IS WHERE COURSE CONTENT WILL GO -->
        <div class="col-sm-10">
        <div style="paddingTop: 8vh; paddingLeft: 5%;"> 
            <h2 style="font-size: 3vh;  margin-bottom: 2%; color: #1976d2;">
                Module 1 Conceptual Check
            </h2>
            <a style="font-size: 2vh; paddingLeft: 3%; ">
                <iframe src="https://emilykelsey.h5p.com/content/1291776588236355258/embed" aria-label="Module 1 Questions" width="1088" height="250" frameborder="0" allowfullscreen="allowfullscreen" allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe><script src="https://emilykelsey.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>            </a>
            <a style="font-size: 2vh; paddingLeft: 3%; ">
                <iframe src="https://emilykelsey.h5p.com/content/1291785043390509838/embed" aria-label="Module 1 Questions" width="1088" height="325" frameborder="0" allowfullscreen="allowfullscreen" allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe><script src="https://emilykelsey.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>            </a>
            <a style="font-size: 2vh; paddingLeft: 3%; ">
                <iframe src="https://emilykelsey.h5p.com/content/1291785043935721658/embed" aria-label="Module 1 Questions" width="1088" height="325" frameborder="0" allowfullscreen="allowfullscreen" allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe><script src="https://emilykelsey.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>            </a>
            <a style="font-size: 2vh; paddingLeft: 3%; ">
                <iframe src="https://emilykelsey.h5p.com/content/1291785044536665838/embed" aria-label="Module 1 Questions" width="1088" height="325" frameborder="0" allowfullscreen="allowfullscreen" allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe><script src="https://emilykelsey.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>            </a>
            <a style="font-size: 2vh; paddingLeft: 3%; ">
                <iframe src="https://emilykelsey.h5p.com/content/1291785045060644968/embed" aria-label="Module 1 Questions" width="1088" height="325" frameborder="0" allowfullscreen="allowfullscreen" allow="autoplay *; geolocation *; microphone *; camera *; midi *; encrypted-media *"></iframe><script src="https://emilykelsey.h5p.com/js/h5p-resizer.js" charset="UTF-8"></script>            </a>
                <button class="btn btn-primary" (click)="updatePage(1,1, '/m1/module-1.practical')"  style="marginLeft: 2%; ">Move to Next Lesson!</button>
        </div>
    </div>
    </div>
