<div>
    <app-main-navbar></app-main-navbar>
</div>
<div class="vstack gap-5">
        <div class="row">
          <div class="col-sm-2">
            <app-module5sidenav></app-module5sidenav>
          </div>
        
        <!-- THIS IS WHERE COURSE CONTENT WILL GO -->
        <div class="col-sm-10">
        <div style="paddingTop: 8vh; paddingLeft: 5%;"> 
            <h2 style="font-size: 3vh;  margin-bottom: 2%;">
                Crazy Components
            </h2>
            <p style="font-size: 2vh; paddingLeft: 3%; margin-right: 20%">
                Next, we’re going to elaborate on what a component means within the context of a framework. In regards to HTML, a component would have been an individual piece of the code that made one object, like an image or a link. In something like angular or react, a component is a custom made group of files that make one part of your website. This is similar to the functions we described in the Advanced HTML functions module because you can name these components and reuse them later.
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                For example, if you made a calendar component that needed to be present on 5 different pages of your website, you could have the exact code 5 different times in 5 places, or you could write one component called ‘calendar’ and then insert that component into the HTML of your 5 pages with something like:
            </p>
            <p style="font-size: 2vh; paddingLeft: 3%; font-weight: bold">    
                &lt;app-calendar&gt; &lt;/app-calendar&gt;
            <br>
            <p style="font-size: 2vh; paddingLeft: 3%;  margin-right: 20%">
                The same result is achieved, but your code looks much cleaner and you were more efficient in developing those pages. This is one of the most desirable features of frameworks, and is one of the main reasons you should seriously consider using them in your future projects.
            </p>
            <button (click)="updatePage(1,1, '/m5/module-5.3')"  style="marginLeft: 2%; ">Move to Next Lesson!</button>
            <div style="paddingBottom: 5%"> </div>
        </div>
    </div>
    </div>
