<div class="content" role="main">
    <app-main-navbar></app-main-navbar>

    <h2>Our Mission</h2>
    <!--We can change the words-->
    <h5 style="color: #1976d2">Accessibility. Knowledge. Creativity.</h5>
    <p>
      The motivation behind this project is to foster early learning of basic Computer Science principles for younger audiences. 
      As technology has become an integral part of daily lives and the field of technology continues to expand, 
      it is critical that younger audiences are given the opportunity to gain exposure to this topic, as 
      they are with science or English in school. 
    </p>

    <app-creators-carousel></app-creators-carousel>
</div>
