<div>
    <app-main-navbar></app-main-navbar>
</div>
<div class="vstack gap-5">
        <div class="row">
          <div class="col-sm-2">
            <app-module2sidenav></app-module2sidenav>
          </div>
        
        <!-- THIS IS WHERE COURSE CONTENT WILL GO -->
        <div class="col-sm-10">
        <div style="paddingTop: 8vh; paddingLeft: 5%;"> 
            <h2 style="font-size: 3vh;  margin-bottom: 2%;">
                Module 2 Conceptual Check
            </h2>
            <a style="font-size: 2vh; paddingLeft: 3%; ">
                <iframe src="https://h5p.org/h5p/embed/1323349" width="1090" height="351" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Module 2.1"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>            </a>
            <a style="font-size: 2vh; paddingLeft: 3%; ">
                <iframe src="https://h5p.org/h5p/embed/1323350" width="1090" height="349" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Module 2.2"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>            </a>
            <a style="font-size: 2vh; paddingLeft: 3%; ">
                <iframe src="https://h5p.org/h5p/embed/1323352" width="1090" height="351" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Module 2.3"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>            </a>
            <a style="font-size: 2vh; paddingLeft: 3%; ">
                <iframe src="https://h5p.org/h5p/embed/1323353" width="1090" height="351" frameborder="0" allowfullscreen="allowfullscreen" allow="geolocation *; microphone *; camera *; midi *; encrypted-media *" title="Module 2.4"></iframe><script src="https://h5p.org/sites/all/modules/h5p/library/js/h5p-resizer.js" charset="UTF-8"></script>            </a>
            <button (click)="updatePage(1,1, '/m2/module-2.practical')"  style="marginLeft: 2%; ">Move to Next Lesson!</button>
            <div style="paddingBottom: 5%"> </div>
        </div>
    </div>
    </div>
